/* Header et nav */
#neo {
    width: 80%;
}

header {
    border-bottom: 1px solid var(--dark-green);
}

.navbar {
    padding: 20px 20px;
    flex-direction: row;
    justify-content:space-between;
}

.navbar-left, .navbar-middle, .navbar-right {
    display: flex;
    flex: 1;
    justify-content: center;
}

.navbar-left{
    justify-content: left;
}

.navbar-right{
    justify-content: right;
}

.logo {
    color: var(--green);
    font-weight: bold;
    text-shadow: 0 0 5px var(--green);
    font-size: 1.5rem;
}