 /* The side navigation menu */
 .side-bar {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #000000;
    overflow-x: hidden; 
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
  /* Links*/
  .side-bar a {
    text-decoration: none;
    font-size: 17px;
    color:  var(--green);
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }

  /* sub group */
  .sidebar-group-user, .sidebar-group-account, .sidebar-group-contract {
    flex: 1;
    align-items: flex-start;
    padding-left: 10px;
    gap: 10px;
  }

  /* divider */
  .sidebar-group-account {
    border-bottom: 1px solid var(--dark-green);
    border-top: 1px solid var(--dark-green);
  }
  
  .side-bar a:hover {
    color: #f1f1f1;
  }